# Entornos Virtuales
venv/
env/
.venv/

# Archivos de caché de Python
__pycache__/
*.pyc

# DATOS (¡Lo más importante!)
data/
*.csv
*.json

# Jupyter Notebooks (Los usaremos mañana)
.ipynb_checkpoints/

# Variables de entorno y secretos
.env